/* PC (기본 설정) */
#postpage-header {
  width: 100%;
  flex-shrink: 0;
}

.post-header {
  width: 100%;
  height: auto;
  display: block;
  max-height: 25vh;
  object-fit: cover;
}

.post-logo {
  width: clamp(124px, 14.1vw, 170px);
  height: clamp(49px, 5.6vw, 67px);
}

.post-content {
  display: flex;
  position: absolute;
  top: 30px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.post-name {
  color: var(--Grayscale-60, #1e1e1e);
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Actor;
  font-style: normal;
  font-weight: 600;
  font-size: clamp(24px, 3vw, 32px);
  line-height: clamp(30px, 3vw, 40px);
}

.post-profile {
  width: clamp(94px, 8vw, 140px);
  height: clamp(94px, 8vw, 140px);
}

.post-share {
  display: flex;
  margin-top: 10px;
  gap: 12px;
}

.post-linkBtn,
.post-kakaoBtn,
.post-facebookBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-linkBtn {
  background: #542f1a;
}

.post-kakaoBtn {
  background: #f9e000;
}

.post-facebookBtn {
  background: #1877f2;
}

.post-linkVector,
.post-kakaoVector,
.post-facebookVector {
  width: 18px;
  height: 18px;
}

/* 반응형 */
/* 태블릿 ( 768px ~ 1199px ) */
@media (max-width: 1199px) {
}

/* 모바일 ( ~ 767px ) */
@media (max-width: 767px) {
}
