/* 모바일 */
.feed-grid {
  width: 100%;
  /* max-width: 327px; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
/* 태블릿 */
@media (min-width: 768px) {
  .feed-grid {
    width: 100%;
    /* max-width: 700px; */
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
@media (min-width: 950px) {
  .feed-grid {
    width: 100%;
    /* max-width: 886px; */
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}

/* 데스크톱 */
@media (min-width: 1200px) {
  .feed-grid {
    width: 100%;
    /* max-width: 940px; */
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}
