@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

/* 모바일 */

:root {
  /* Grayscale */
  --Grayscale-60: #000000;
  --Grayscale-50: #515151;
  --Grayscale-40: #818181;
  --Grayscale-30: #cfcfcf;
  --Grayscale-20: #f9f9f9;
  --Grayscale-10: #ffffff;

  /* Primary color */
  --Brown-50: #341909;
  --Brown-40: #542f1a;
  --Brown-30: #c7bbb5;
  --Brown-20: #e4d5c9;
  --Brown-10: #f5f1ee;

  /* Point color */
  --Blue-50: #1877f2;
  --Yellow-50: #fee500;
  --Red-50: #b93333;

  /* font-family */
  font-family: 'Pretendard', sans-serif;

  /* font-size */
  --font-h1: 40px;
  --font-h2: 32px;
  --font-h3: 24px;
  --font-body1: 20px;
  --font-body2: 18px;
  --font-body3: 16px;
  --font-caption1: 14px;

  /* font-weight */
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;

  /* box-shadow */
  --shadow-1: 0 1px 4px 0 rgba(140, 140, 140, 0.25);
  --shadow-2: 0 2px 4px 0 rgba(140, 140, 140, 0.25);
  --shadow-3: 0 4px 4px 0 rgba(140, 140, 140, 0.25);

  /* Layout dimensions */
  --header-height: 70px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

img,
svg {
  vertical-align: bottom;
}

html {
  font-size: 16px;
}

body {
  color: #374151;
  word-break: keep-all;
  font-family: 'Pretendard', sans-serif;
  background-color: var(--Grayscale-20);
}

#copyright {
  order: 3;
  flex-basis: 100%;
}

#footerMenu {
  display: flex;
  gap: 30px;
  color: var(--gray-200);
}

#socialMedia {
  display: flex;
  gap: 12px;
}

.wrapper {
  width: 100%;
  padding: 0 16px;
}

.button {
  background-color: var(--blue);
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: #1967d6;
}

.button:focus {
  background-color: #1251aa;
}

.button:disabled {
  background-color: #9ca3af;
  cursor: default;
  pointer-events: none;
}

.pill-button {
  font-size: 16px;
  font-weight: 600;
  border-radius: 999px;
  padding: 14.5px 33.5px;
}

.full-width {
  width: 100%;
}

.break-on-desktop {
  display: none;
}

/* 테블릿 */

@media (min-width: 768px) {
  header {
    padding: 0 24px;
  }

  .wrapper {
    padding: 0 24px;
  }

  .pill-button {
    font-size: 20px;
    font-weight: 700;
    padding: 16px 126px;
  }

  footer {
    padding: 32px 104px 108px 104px;
  }

  #copyright {
    flex-basis: auto;
    order: 0;
  }
}

/* PC */

@media (min-width: 1280px) {
  header {
    padding: 0 200px;
  }

  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }

  .break-on-desktop {
    display: inline;
  }

  footer {
    padding: 32px 200px 108px 200px;
  }
}
